.form{
    display:table;
}
p
{
    display:table-row;
}
input
{
    display: table-cell;
    height:20px;
    width:200px;
}
label
{
    display:table-cell;
    font-size: 20px;
}
.header
{
    text-transform: uppercase;
}
.name
{
    text-transform: lowercase;
}
select
{
    display:table-cell;
}
.size
{
   height:25px;
   width:320px; 
   background-color: black;
   color:white;

}
.border
{
  padding-left: 400px;

}