
form{
    display: table;
    
}
p
{
    display: table-row;
}
label
{
    display:table-cell;
}
input
{
    display:table-cell;

}
label
{
    font-size:20px;
}
.size
{
    height:30px;
    width:310px;
    background-color: cyan;
    color:ghostwhite;
}
.size1
{
    width:175px;

}
form
{
    border: 1px solid black;
    height:420px;
    padding-left:40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 80px;
}
.padding1
{
    padding-left:500px;
}
